
:root {
  --text: #222;
  --title: #222;
  --bg: #fff;
  --primary-color: #79c2d0;
  --date-color: #323232;
}

html.dark {
  --text: #fff;
  --title: #fff;
  --bg: #282c35;
  --primary-color: #bbe4e9;
  --date-color: #E5E7EB;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree-VariableFont_wght.woff2') format('woff');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Red Hat Text';
  src: url('/fonts/RedHatText-VariableFont_wght.woff2') format('woff');
  font-weight: 300 700;
  font-style: normal;
  font-display: block;
}
html{
  font-family: 'Figtree','Red Hat Text',sans-serif;
}
.text{
  font-family: 'Red Hat Text', sans-serif;
}
.link {
  @apply text-blue-400 hover:text-blue-500 transition-all;
}
.secondary-title{
  @apply text-3xl font-bold;
}

.markdown{
  margin-top: 20px;
  line-height: 28px;
  font-weight: 300;
}
.markdown p {
  margin-top:20px;
}


