---
import Navigation from "@components/Navigation.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Home Page">
  <main>
    <h1 class="text-4xl font-bold text-post-title pb-4 title mt-5">
      Hey there!👋
    </h1>
    <div class="markdown">
      <p>
        This blog is like my virtual hangout spot where we can chat about
        everything from the latest tech trends that make our lives
        easier. And hey, you don't need to be a tech guru to join in—whether
        you're a tech whiz or just curious about what's out there, you're
        totally welcome! 🌟
      </p>
      <p class="mt-5">
        Think of it as a place to chill, share stories, knowledge and maybe even pick up a
        few tech tricks along the way. Plus, we'll have plenty of fun facts I
        promise!
      </p>
    </div>
  </main>
</MainLayout>

