---
import ThemeIcon from "@components/Toggle/ThemeToggle.astro"
import Social from "@components/Social/Social.astro"
---

<nav>
  <header>
    <div class="flex items-center">
      <div class="flex gap-8">
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/about/">About</a>
        <Social platform="github" username="samifraca" />
      </div>
      <div class="flex grow justify-end gap-8 items-center">
        <ThemeIcon />
        <img
          src="/myself.jpeg"
          alt="sami"
          width="40px"
          height="40px"
          class="rounded-full shrink-0"
        />
      </div>
    </div>
  </header>
</nav>
