---
import Navigation from "@components/Navigation.astro";
const { title } = Astro.props;
export interface Props {
  title: String;
}
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link
      rel="preload"
      href="/fonts/Figtree-VariableFont_wght.ttf"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/RedHatText-VariableFont_wght.ttf"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" href="/myself.webp" as="image" />
  </head>
  <body class="mx-auto max-w-2xl bg-[--bg] px-5 py-12 text-[--text]">
    <Navigation />
    <slot />
  </body>
</html>
